{% extends 'base.html' %}

{% block content %}

{% if invoices %}
<div class="list-group">
  {% for invoice in invoices %}
    <div onclick="location.href='{{ url_for('edit_invoice', invoice_id=invoice.id) }}';" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ invoice.company.name }} : {{ invoice.side }} {{ invoice.amount }}</h5>
      <div>
        <small>{{ invoice.created_at }}</small>
      </div>
    </div>
    <p class="mb-1">{{ invoice.company.kvk}} | {{ invoice.company.address }}</p>
    <input hidden type="text" id="{{invoice.id}}" value="{{invoice.kvk}}">
  </div>
  {% endfor %}
</div>
{% else %}
<p>You have not saved any invoices yet.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
function clipboard(data_id) {
    var copyText = document.getElementById(data_id);
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard
      .writeText(copyText.value)
//      .then(() => {
//        alert("successfully copied");
//      })
//      .catch(() => {
//        alert("something went wrong");
//      });
}
</script>
{% endblock %}
